<mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="this.as.sideNav">
        <div *ngIf="!this.us.admin">
            <h3>My cart</h3>
            <app-cart></app-cart>
        </div>
        <div *ngIf="this.us.admin&&!this.as.checkAddOrEdit">
            <h3>Add a new product</h3>
            <app-add-product></app-add-product>
        </div>
        <div *ngIf="this.as.checkAddOrEdit">
            <h3>Edit product</h3>
            <app-edit-product></app-edit-product>
        </div>
    </mat-drawer>
    <div class="example-sidenav-content">
        <button type="button" mat-button *ngIf="!this.us.admin" class="cartIcon" (click)="this.as.change()">
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <button type="button" mat-button *ngIf="this.us.admin" class="cartIcon" (click)="this.as.change('add')">
            <mat-icon>add</mat-icon>
        </button>
        <app-products></app-products>
    </div>


</mat-drawer-container>