
/* .container{
    
} */
::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}


.register {
    align-items: center;
    position: absolute; 
    top: 15%;
    left: 30%;
    margin-top: 1%;
	margin-bottom: 1%;
	display: block;
    width: 500px;
    height: 100px;
}


