.main{ 
display: flex;
flex-direction: row;
height: 100%;
width: 100%;
justify-content: space-around;
}

.mat-card-image{
height: 50px;
width: 50px;
}
    
.product{
height: 5%;
width: 80%;
margin: 2px;
}

h2{
color: red;
}

.search{
    width: 200px;
} 

.searchB{
margin-left: 25px;
border:none;
border-radius: 50%;
background-color: #ff4081;
cursor: pointer;
width: 45px;
height: 45px;
}

button{
    border: white;
    }

   