
.logo{
height: 50px;
width: 100px;
}

.search{
    /* margin: 0 auto; */
    margin-left: 25px;
    width: 150px;
}

.searchB{
margin-left: 40px;
border:none;
border-radius: 50%;
background-color: #ff4081;
cursor: pointer;
width: 45px;
height: 45px;
padding: 0;
} 


button{
border: white;
}

.mat-toolbar{
    margin: auto;
     position:relative;
}
.logOut{
    /* margin-left: 420px; */
    /* color: #fff; */
     position: absolute; 
     top: 0px;
      right: 0px
  
}

.msg{
    color: DeepPink;
}

